#rofi.fake-transparency:true
rofi.hide-scrollbar:true
rofi.opacity: 55
rofi.fullscreen: false
rofi.lines: 5
rofi.columns: 1
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
rofi.bw: 2
rofi.padding: 2
rofi.fixed-num-lines: true
rofi.hmode: false
rofi.terminal: x-terminal-emulator
rofi.ssh-set-title: true
rofi.key-window: mod4+Tab
rofi.key-run: mod4+p
rofi.key-ssh: mod1+F3
